streamlit
psycopg2-binary

langchain
langchain-community
langchain-huggingface
huggingface-hub
sentence-transformers
transformers
faiss-cpu

python-dotenv

pydantic
requests
itsdangerous
rapidfuzz
nltk
pytest
joblib
fastapi
uvicorn
python-multipart
jinja2