fastapi
uvicorn
numpy
pandas
ipykernel
jupyter

langchain
langchain-community
langchain-google-genai
langchain-huggingface
huggingface-hub
sentence-transformers
transformers
faiss-cpu
tf-keras

python-dotenv

pydantic
requests
itsdangerous
rapidfuzz
nltk
python-multipart
pytest