bcrypt
psycopg2-binary
pandas
langchain
langchain-community
langchain-huggingface
faiss-cpu

python-dotenv

pydantic
requests
itsdangerous
rapidfuzz
pytest
joblib
fastapi
uvicorn
gunicorn
python-multipart
jinja2