<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <title>Search Movie</title>
</head>
<body>
    <form action="/search" method="post">
        <label for="search_movie">Search for a Movie:</label>
        <input type="text" name="search_movie" placeholder="e.g., Inception" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>